<!-- Set Contact -->
{% set contact = crm_object("contact", 11751, "firstname,product_browse_history,products_bought") %}

<!-- Parse Rec Properties -->
<h2>Contact Recommendation Properties</h2>
<p>Contact Name: {{ contact.firstname }}</p>
<p>Contact Browsing History SKUs: {{ contact.product_browse_history }}</p>
<p>Contact Products Bought SKUs: {{ contact.products_bought }}</p>

<!-- Fetching Products -->
{% set product_browse_history_array = crm_objects("product", "hs_sku__in="~contact.product_browse_history, "accessories,similar_items,hs_sku,hs_images,name,price").results %} 
{% set products_bought_array = crm_objects("product", "hs_sku__in="~contact.products_bought, "accessories,similar_items,hs_sku,hs_images,name,price").results %} 

<hr>

<h2>Fetching Products From Contact</h2>
<hr>
<h3>Contact Browse History:</h3>
<table width="1200" border="0" align="center" cellpadding="0" cellspacing="0">
  {% for product in product_browse_history_array %}
    {% set accessories_array = crm_objects("product", "hs_sku__in="~product.accessories, "accessories,similar_items,hs_sku,hs_images,name,price").results %} 
    {% set similar_items_array = crm_objects("product", "hs_sku__in="~product.similar_items, "accessories,similar_items,hs_sku,hs_images,name,price").results %} 
      <tr>
        <td width="150" align="left" valign="top" class=”width300 block”>
          <p><b>Name:</b> {{product.name}}</p>
          <img src="{{product.hs_images}}" alt="" width="100" height="100">
          <p><b>Price:</b> {{product.price}}</p>
          <p><b>SKU:</b> {{product.hs_sku}}</p>
        </td>
        <td width="20" align="left" valign="top" class=”width300 block”>
        </td>
        <td width="300" align="left" valign="top" class=”width300 block”>
          <p><b>Products Frequently bought with:</b> {{product.name}}</p>
          {% for product in accessories_array %}
            <p>{{product.name}}</p>
            <p>
              <img src="{{product.hs_images}}" alt="" width="50" height="50">
            </p>
          {% endfor %}  
        </td>
        <td width="300" align="left" valign="top" class=”width300 block”>
          <p><b>Products Similar to:</b> {{product.name}}</p>
          {% for product in similar_items_array %}
            <p>{{product.name}}</p>
            <p><img src="{{product.hs_images}}" alt="" width="50" height="50"></p>
          {% endfor %} 
        </td>

  {% endfor %}
</table>

<hr>

<h3>Contact Products Bought</h3>
<table width="1200" border="0" align="center" cellpadding="0" cellspacing="0">
  {% for product in products_bought_array %}
    {% set accessories_array = crm_objects("product", "hs_sku__in="~product.accessories, "accessories,similar_items,hs_sku,hs_images,name,price").results %} 
    {% set similar_items_array = crm_objects("product", "hs_sku__in="~product.similar_items, "accessories,similar_items,hs_sku,hs_images,name,price").results %} 
      <tr>
        <td width="150" align="left" valign="top" class=”width300 block”>
          <p><b>Name:</b> {{product.name}}</p>
          <img src="{{product.hs_images}}" alt="" width="100" height="100">
          <p><b>Price:</b> {{product.price}}</p>
          <p><b>SKU:</b> {{product.hs_sku}}</p>
        </td>
        <td width="20" align="left" valign="top" class=”width300 block”>
        </td>
        <td width="300" align="left" valign="top" class=”width300 block”>
          <p><b>Products Frequently bought with:</b> {{product.name}}</p>
          {% for product in accessories_array %}
            <p>{{product.name}}</p>
            <p>
              <img src="{{product.hs_images}}" alt="" width="50" height="50">
            </p>
          {% endfor %}  
        </td>
        <td width="300" align="left" valign="top" class=”width300 block”>
          <p><b>Products Similar to:</b> {{product.name}}</p>
          {% for product in similar_items_array %}
            <p>{{product.name}}</p>
            <p><img src="{{product.hs_images}}" alt="" width="50" height="50"></p>
          {% endfor %} 
        </td>

  {% endfor %}
</table>


<!-- .
accessories
similar_items
hs_sku
hs_images
name
price
hs_object_id
. -->
